@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .4s ease;
  }
}